# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=temporal
DB_PASSWORD=temporal
DB_NAME=payment_db

# Application
PORT=3000
NODE_ENV=development

# Mercado Pago (para integração com Cartão de Crédito)
MERCADO_PAGO_ACCESS_TOKEN=your_access_token_here
MERCADO_PAGO_PUBLIC_KEY=your_public_key_here

# Temporal.io Configuration
TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=payment-task-queue
